@charset "utf-8"
/* notebook css document screen size from 769px to 1239px */
    
    
html {
    font-family: arial, "malgun gothic", serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}


html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, address, em, img, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, thead, tr, th, td, article, aside, canvas, embed, figure, figcaption, footer, header, nav, section, summary, time, audio, video, button, input {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
  box-sizing: border-box; 
}

main, section, article, header, nav, footer {
  display: block;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

a {
  text-decoration: none;
  color: inherit; 
}



/* Layout */
header {border:1px solid black; margin:0 auto; width:100%;}
.header-inner {background-color:#cce8ff; margin:0 40px; height:50px;}

nav {border:1px solid black; margin:0 auto; width:100%;}
.nav-inner {background-color:antiquewhite; margin:0 auto; width:680px; height:40px;}

section {border:1px solid black; margin:0 auto; width:100%;}

.container-slideshow {background-color:aqua; margin:0 auto; width:100%; height:auto;}

.section-inner1 {background-color:darkslateblue; margin:0 40px; height:500px;}
.main-colum-1 {background-color:red; width:50%; height:450px; float:left;}
.main-colum-2 {background-color:pink; width:50%;  height:450px; float:left;}
.main-colum-3 {background-color:yellow; width:100%; height:450px; float:left;}

.section-inner2 {background-color:darkslateblue; margin:0 40px; height:100px;}
.main-colum-4 {background-color:green; width:50%; height:100px; float:left;}
.main-colum-5 {background-color:#5d5dff; width:50%; height:100px; float:left;}

.section-inner3 {background-color:darkslateblue; margin:0 40px; height:300px;}
.main-colum-6 {background-color:violet; width:100%; height:100px; float:left;}
.main-colum-7 {background-color:skyblue; width:100%; height:100px; float:right;}
.main-colum-8 {background-color:grey; width:100%; height:100px; float:left;}

footer {border:1px solid black; margin:0 auto; width:100%;}
.footer-inner {background-color:gold; margin:0 40px; height:100px;}



/* header */
#logo {font-family:verdana; display:inline-block; font-size:1.4rem; font-weight:bold; padding:11px 0; float:left;}

#login {display:inline-block; font-size:1rem; color:#9a9a9a; border:2px solid #0000ff; padding:8px 14px; margin:5px; float:right;}
#signup {display:inline-block; font-size:1rem; color:#9a9a9a; padding:8px 0 8px 10px; margin:7px 0 7px 7px; float:right;}
#icon-user {display:none;}
#icon-search {display:inline-block; width:1.3rem; height:1.3rem; margin:15px 24px; float:right;}

#login:hover {color:black;}
#signup:hover {color:black;}
#icon-search:hover {width:1.4rem; height:1.4rem;}
#logo:active {border:1px solid #9a9a9a;}
#login:active {border:1px solid #9a9a9a; color:black;}
#signup:active {border:1px solid #9a9a9a; color:black;}
#icon-search:active {border:1px solid #9a9a9a; width:1.4rem; height:1.4rem;}



/* navigation */
.nav-inner table {width:100%; text-align:center;}
.nav-cell {display:table-cell; font-size:1rem; color:#9a9a9a; padding:10px;}

.nav-cell:hover {color:black;}
.nav-cell:active {border:1px solid #9a9a9a; color:black;}

.navFixed {position:fixed; top:0px; width:100%; z-index:9999; text-align:center; padding:2px; background-color:#ffffff; border-bottom:2px solid #9a9a9a;}



/* slideshow */
.mySlides {display:none;}



/* 지역별 분류 */
.colum-title {padding:10px 0; font-weight:bold;}
select, .inputbtn {padding:0 0.7rem; border:1px solid #9a9a9a; border-radius:5px;  height:1.5rem; font-family: inherit;}
.search-region {width:80px;}
.search-region-detail {width:100px;}

iframe {width:100%; height:300px; scrolling:no;}







