html {
    font-family: georgia, "malgun gothic", serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

h5 {
    font-weight: normal;
}





/* screen */

.colum {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 5px;
    margin: 0;
}

#icon-user {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
}

#login {
    display: none;
}

.cell {
    display: inline-block;
    padding: 7px;
    margin: 0 1%;
}


@media all and (min-width: 768px) and (max-width:1024px) {
    .colum {
        box-sizing: border-box;
        float: left;
        width: 50%;
        margin: 0;
        padding: 5px;
        background-color: black;
        color: white;
    }

    #login {
        display: inline-block;
        float: right;
        text-decoration: none;
        margin: 0;
        padding: 0;
        font-size: 0.9em;
    }

    #login a {
        text-decoration: none;
        color: #9a9a9a;
    }

    #icon-user {
        display: none;
    }

    .cell {
        display: inline-block;
        padding: 7px;
        margin: 0 2%;
    }
}



@media all and (min-width: 1025px) {
    .colum {
        box-sizing: border-box;
        float: left;
        width: 33%;
        margin: 0;
        padding: 5px;
        background-color: blue;
    }

    section {
        box-sizing: border-box;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    #login {
        display: inline-block;
        float: right;
        text-decoration: none;
        margin: 0;
        padding: 0;
        font-size: 0.9em;
    }

    #login a {
        text-decoration: none;
        color: #9a9a9a;
    }

    #icon-user {
        display: none;
    }

    .cell {
        display: inline-block;
        padding: 7px;
        margin: 0 4%;
    }
}






/* header */

header {
    padding: 15px;
    max-width: 1200px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    display: inline-block;
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;

}

#logo a {
    text-decoration: none;
    color: #000000;
}

#icon-search {
    display: inline-block;
    float: right;
    margin: 0 2% 0 0;
    padding: 0;
    width: 23px;
    height: 23px;
}





/* navigation */




nav {
    max-width: 1000px;
    margin: 0 auto;
}

.outer {
    display: table;
    width: 100%;
    height: 100%;
}

.inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}



nav a {
    color: #909090;
    text-align: center;
    font-size: 0.9em;
    text-decoration: none;
}





.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}





/* slideshow */

.image-main {
    padidng: 0;
    margin: 0;
}

#mainImage {
    width: 100%;
    height: auto;
    padding: 3px 0 0 0;
}






* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}





/* section - region */

.search-region {
    display: inline-block;
    float: left;
    width: 35%;
    height: 27px;
    padding: 3px;
    margin: 5px;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
}

.search-region-detail {
    display: inline-block;
    float: left;
    width: 55%;
    height: 15px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
}

.meet-single {
    padding: 2px 10px 2px 10px;
    margin-top: 0;
    border-top: 1px solid #d3d3d3;
}

.meet-single-id {
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: #adadad;
}

.meet-single-read {
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: #adadad;
}

.meet-single-title {
    padding-top: 3px;
    padding-bottom: 3px;
}

.meet-single-info {
    font-size: 11px;
    padding: 5px;
    color: #adadad;
}

.meet-single-category {
    font-size: 10px;
    padding: 3px;
}

.button-apply {
    float: right;
    margin: 10px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    width: 60px;
    height: 15px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ed4c4c;
}

.button-more {
    width: 96%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    background-color: #ffffff;
}





/* section - category */

.image-button {
    margin: 0;
    padding: 20px 30px;
}

.image-button ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 10px;
    overflow: hidden;
    width: 110%;
}

.image-button ul li {
    float: left;
    width: 100px;
    text-align: center;
}



.image-button img {
    border-radius: 50%;
    border: 1px solid #c7c7c7;
    width: 76px;
    height: 76px;
}

.image-button figcaption {
    font-size: 13px;
    text-align: center;
}
