html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

h5 {
    font-weight: normal;
}





/* screen */

.colum {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 5px;
    margin: 0;
}

@media all and (min-width: 768px) and (max-width:1024px) {
    .colum {
        box-sizing: border-box;
        float: left;
        width: 50%;
        margin: 0;
        padding: 5px;
        background-color: black;
        color: white;
    }
}

@media all and (min-width: 1025px) {
    .colum {
        box-sizing: border-box;
        float: left;
        width: 33%;
        margin: 0;
        padding: 5px;
        background-color: blue;
    }

    section {
        box-sizing: border-box;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
}





/* header */

.header-main {
    padding: 10px;
}

.header-main a {
    text-decoration: none;
    color: #000000;
}

#logo {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin: 0
}

#icon-search {
    display: inline-block;
    float: right;
    padding: 10px;
    margin: 0;
    width: 20px;
    height: 20px;
}

#icon-user {
    display: inline-block;
    float: right;
    padding: 7px;
    margin: 0;
    padding-right: 3%;
    width: 25px;
    height: 25px;
}





/* navigation */

.minitabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 10px;
    overflow: hidden;
    width: 100%;
}

.minitabs ul li {
    float: left;
    width: 25%;
}

.minitabs ul li a {
    display: block;
    color: #909090;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.minitabs ul li a.minitabs_active {
    color: #000000;
    border-bottom: 4px solid #000000;
}

.minitabs ul li a:hover {
    border-bottom: 4px solid #000000;
}





/* slideshow */

.image-main {
    padidng: 0;
    margin: 0;
}

#mainImage {
    width: 100%;
    height: auto;
    padding: 3px 0 0 0;
}





/* section - region */

.search-region {
    display: inline-block;
    float: left;
    width: 35%;
    height: 27px;
    padding: 3px;
    margin: 5px;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
}

.search-region-detail {
    display: inline-block;
    float: left;
    width: 55%;
    height: 15px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
}

.meet-single {
    padding: 2px 10px 2px 10px;
    margin-top: 0;
    border-top: 1px solid #d3d3d3;
}

.meet-single-id {
    padding: 0; 
    margin: 0; 
    font-size: 10px; 
    color: #adadad;
}

.meet-single-read {
    padding: 0; 
    margin: 0; 
    font-size: 10px; 
    color: #adadad;
}

.meet-single-title {
    padding-top: 3px;
    padding-bottom: 3px;
}

.meet-single-info {
    font-size: 11px; 
    padding: 5px; 
    color: #adadad;
}

.meet-single-category {
    font-size: 10px; 
    padding: 3px;
}

.button-apply {
    float:right;
    margin: 10px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    width: 60px;
    height: 15px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ed4c4c;
}

.button-more {
   width: 96%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #c7c7c7;
     border-radius: 3px;
    background-color: #ffffff;    
}





/* section - category */

.image-button {
    box-sizing: border-box;
        width: 100px;
    padding: 10px;
    margin: 0;
    overflow: hidden;
}

.image-button img {
    border-radius: 50%;
    border: 1px solid #c7c7c7;
    width: 76px;
    height: 76px;
}

.image-button figcaption {
    font-size: 13px;
    text-align: center;
}








